.cardsuc .useful{
    padding: 20px 5px;

    
}
.useful li{
    list-style: none;

}
.cardsuc a{
    font-size: 1.3rem;
    text-decoration: underline;
    padding: 10px;
}
.grey{
    color: gray;
}
.usefulh{
    border: solid var(--purple-light);
    border-radius: 20px;
    box-shadow: 0px 0px 15px var(--purple-light);
    background-color: var(--background-dark);
    padding: 10px;
}
