.container404 {
    text-align: center;
}

.error-code {
    font-size: 8rem;
    font-weight: bold;
    margin: 0;
    background: linear-gradient(90deg, var(--blue-primary), var(--purple-accent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.message {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0.5rem 0 2rem;
    color: var(--purple-accent);
}

.home-link {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: var(--purple-accent);
    background-color: var(--blue-light);
    border-radius: 5px;
    border: 2px solid var(--purple-primary);
    text-decoration: none;
    transition: all 0.3s ease;
}

.home-link:hover {
    background-color: var(--background);
    color: var(--blue-accent);
}