header{
    display: flex;
    align-items: center;
    padding: 5px 30px 5px 30px;
    justify-content: space-around;
    box-shadow: 0px 5px 8px rgba(0,0,0,0.3);
    border-radius: 10px;
    background: linear-gradient(90deg, var(--blue-light), var(--purple-light), var(--blue-light), var(--purple-light), var(--blue-light)  ) ;
    margin-bottom: 10px;
}

header nav{
    display: flex;
    width: 200px;
    flex-direction: row;

}
/* header nav Link{ */
header .Link{
    margin: 5px 20px;
    text-decoration: none;
    background: linear-gradient(90deg, var(--blue-primary), var(--purple-primary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-size: 1.2rem;
    letter-spacing: 2px;
    width: auto;
    text-align: center;
    transition: transform 0.5s ease, background 0.5s ease;

}
.Link:hover{
    transform: scale(1.05);
    background: linear-gradient(90deg, var(--purple-primary), var(--blue-primary)  );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



header nav .BigLink{
    font-size: 1.5rem;
    margin: auto;
    
    
}
.logodiv a{
        font-size: 1.3rem; /* Размер текста */
        font-weight: 1000; /* Жирный шрифт */
        text-transform: uppercase; /* Все буквы заглавные */
        background: linear-gradient(90deg, var(--blue-primary), var(--purple-primary));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center; /* Центровка текста */
        margin: 20px 0; /* Отступы сверху и снизу */
        font-family: 'Arial', sans-serif; /* Шрифт */
        letter-spacing: 0.2em; /* Расстояние между буквами */
        text-decoration: none;

      }
      .logodiv{
        transition: transform 0.3s ease;
      }
      .logodiv:hover{
        transform: scale(1.05);
    }
    